## 라이브러리 import

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn           as sb
import scipy.stats       as sp
import seaborn  as sns

In [3]:
import tensorflow as tf
from tensorflow import keras
tf.random.set_seed(777)

스케일러 라이브러리

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import joblib

## 데이터 불러오기

In [8]:
epoch = [2000,5000,10000,20000]

In [9]:
len(epoch)

4

In [15]:
for i in range (len(epoch)):
    temp_data = pd.read_csv('D:/testoneblow/ANN_prediction1.0/Tr_result_epoch%d.csv'%(epoch[i]), sep=',')
    s = "Tr_result_epoch%d= temp_data"%(epoch[i])
    exec(s)

In [53]:
Tr_result_epoch2000

    Case  L.rate  Nr-HL1  Nr-HL2      RMSE       MAE       MAPE
0    1.0   0.001    30.0    10.0  0.116134  0.086316   8.495884
1    2.0   0.001    30.0    20.0  0.335174  0.317244  28.454996
2    3.0   0.001    30.0    30.0  0.109694  0.090845   9.139524
3    4.0   0.001    40.0    10.0  0.161640  0.129624  11.396811
4    5.0   0.001    40.0    20.0  0.123967  0.101445   9.491972
5    6.0   0.001    40.0    30.0  0.131198  0.102410   9.507861
6    7.0   0.001    50.0    10.0  0.337489  0.311920  28.768366
7    8.0   0.001    50.0    20.0  0.102785  0.082583   7.665766
8    9.0   0.001    50.0    30.0  0.144927  0.112279  10.424787
9   10.0   0.001    60.0    10.0  0.338280  0.312571  32.370811
10  11.0   0.001    60.0    20.0  0.093258  0.068247   6.233927
11  12.0   0.001    60.0    30.0  0.292652  0.253964  23.487488
12  13.0   0.001    70.0    10.0  0.377415  0.349283  31.470423
13  14.0   0.001    70.0    20.0  0.125570  0.101611  10.226151
14  15.0   0.001    70.0    30.0  0.141488  0.110786   9.955119
15  16.0   0.005    30.0    10.0  0.149508  0.124288  12.634715
16  17.0   0.005    30.0    20.0  0.247528  0.208323  22.178133
17  18.0   0.005    30.0    30.0  0.187751  0.158639  13.743957
18  19.0   0.005    40.0    10.0  0.246540  0.208100  22.038948
19  20.0   0.005    40.0    20.0  0.123332  0.095218   9.146622
20  21.0   0.005    40.0    30.0  0.203248  0.167120  14.361418
21  22.0   0.005    50.0    10.0  0.246545  0.208101  22.039652
22  23.0   0.005    50.0    20.0  0.122654  0.092155   8.740423
23  24.0   0.005    50.0    30.0  0.116016  0.092088   8.918077
24  25.0   0.005    60.0    10.0  0.122614  0.091666   9.427746
25  26.0   0.005    60.0    20.0  0.232128  0.194171  16.440523
26  27.0   0.005    60.0    30.0  0.244082  0.207107  21.286158
27  28.0   0.005    70.0    10.0  0.246540  0.208100  22.038855
28  29.0   0.005    70.0    20.0  0.122713  0.093933   8.877721
29  30.0   0.005    70.0    30.0  0.156173  0.132559  11.834505
30  31.0   0.010    30.0    10.0  0.147339  0.120656  11.577697
31  32.0   0.010    30.0    20.0  0.145276  0.110935  12.645680
32  33.0   0.010    30.0    30.0  0.255144  0.216552  20.734417
33  34.0   0.010    40.0    10.0  0.115729  0.089307   9.412054
34  35.0   0.010    40.0    20.0  0.256572  0.217813  20.760460
35  36.0   0.010    40.0    30.0  0.123708  0.090835   9.888620
36  37.0   0.010    50.0    10.0  0.130496  0.102424  10.423005
37  38.0   0.010    50.0    20.0  0.125307  0.092957   9.994121
38  39.0   0.010    50.0    30.0  0.125380  0.099520  10.560746
39  40.0   0.010    60.0    10.0  0.246389  0.208081  22.014872
40  41.0   0.010    60.0    20.0  0.124626  0.098265   9.835196
41  42.0   0.010    60.0    30.0  0.255183  0.216585  20.734722
42  43.0   0.010    70.0    10.0  0.117723  0.088197   9.417337
43  44.0   0.010    70.0    20.0  0.121444  0.088521   9.571074
44  45.0   0.010    70.0    30.0  0.248228  0.210049  20.688665

# Lr fix

In [24]:
Lr001_index = []
Lr005_index = []
Lr01_index  = []

for i in range (Tr_result_epoch2000.shape[0]):
    if Tr_result_epoch2000.iloc[i,1] == 0.001:
        Lr001_index = np.append(Lr001_index, i)
    elif Tr_result_epoch2000.iloc[i,1] == 0.005:
        Lr005_index = np.append(Lr005_index, i)
    elif Tr_result_epoch2000.iloc[i,1] == 0.01:
        Lr01_index = np.append(Lr01_index, i)

In [65]:
header = np.array([["Case", "L.rate", "Nr-HL1", "Nr-HL2", "RMSE","MAE","MAPE"]])

In [72]:
Lr001_dataset = np.zeros((60,7))
for i in range(len(Lr001_index)):
    Lr001_dataset[i,:]     = Tr_result_epoch2000.iloc[int(Lr001_index[i]),:]
    Lr001_dataset[i+15,:]  = Tr_result_epoch5000.iloc[int(Lr001_index[i]),:]
    Lr001_dataset[i+30,:]  = Tr_result_epoch10000.iloc[int(Lr001_index[i]),:]
    Lr001_dataset[i+45,:]  = Tr_result_epoch20000.iloc[int(Lr001_index[i]),:]

Lr001_dataset = pd.DataFrame(np.concatenate((header,Lr001_dataset)))
Lr001_dataset = Lr001_dataset.rename(columns=Lr001_dataset.iloc[0])
Lr001_dataset = Lr001_dataset.iloc[1:,:]
# pd.DataFrame(Lr001_dataset)

In [73]:
Lr005_dataset = np.zeros((60,7))
for i in range(len(Lr005_index)):
    Lr005_dataset[i,:]     = Tr_result_epoch2000.iloc[int(Lr005_index[i]),:]
    Lr005_dataset[i+15,:]  = Tr_result_epoch5000.iloc[int(Lr005_index[i]),:]
    Lr005_dataset[i+30,:]  = Tr_result_epoch10000.iloc[int(Lr005_index[i]),:]
    Lr005_dataset[i+45,:]  = Tr_result_epoch20000.iloc[int(Lr005_index[i]),:]

Lr005_dataset = pd.DataFrame(np.concatenate((header,Lr005_dataset)))
Lr005_dataset = Lr005_dataset.rename(columns=Lr005_dataset.iloc[0])
Lr005_dataset = Lr005_dataset.iloc[1:,:]
# pd.DataFrame(Lr005_dataset)

In [74]:
Lr01_dataset = np.zeros((60,7))
for i in range(len(Lr01_index)):
    Lr01_dataset[i,:]     = Tr_result_epoch2000.iloc[int(Lr01_index[i]),:]
    Lr01_dataset[i+15,:]  = Tr_result_epoch5000.iloc[int(Lr01_index[i]),:]
    Lr01_dataset[i+30,:]  = Tr_result_epoch10000.iloc[int(Lr01_index[i]),:]
    Lr01_dataset[i+45,:]  = Tr_result_epoch20000.iloc[int(Lr01_index[i]),:]

Lr01_dataset = pd.DataFrame(np.concatenate((header,Lr01_dataset)))
Lr01_dataset = Lr01_dataset.rename(columns=Lr01_dataset.iloc[0])
Lr01_dataset = Lr01_dataset.iloc[1:,:]
# pd.DataFrame(Lr01_dataset)

In [107]:
Lr_fix = np.concatenate((Lr001_dataset,Lr005_dataset,Lr01_dataset),axis =0)
header = np.array([["Case", "L.rate", "Nr-HL1", "Nr-HL2", "RMSE","MAE","MAPE"]])
Lr_fix = pd.DataFrame(np.concatenate((header,Lr_fix)))
Lr_fix = Lr_fix.rename(columns=Lr_fix.iloc[0])
Lr_fix = Lr_fix.iloc[1:,:]

In [214]:
Lr_fix_final = pd.DataFrame(np.zeros((540,6)), columns = ['Case', 'L.rate', 'Nr-HL1','Nr-HL2','type','loss'])
for i in range (Lr_fix.shape[0]):
    Lr_fix_final.iloc[3*i,:4]   = Lr_fix.iloc[i,:4]
    Lr_fix_final.iloc[3*i+1,:4] = Lr_fix.iloc[i,:4]
    Lr_fix_final.iloc[3*i+2,:4] = Lr_fix.iloc[i,:4]
    
    Lr_fix_final.iloc[3*i,4]   = "RMSE"
    Lr_fix_final.iloc[3*i+1,4] = "MAE"
    Lr_fix_final.iloc[3*i+2,4] = "MAPE"
    
    Lr_fix_final.iloc[3*i,5]   = float(Lr_fix.iloc[i,4])
    Lr_fix_final.iloc[3*i+1,5] = float(Lr_fix.iloc[i,5])
    Lr_fix_final.iloc[3*i+2,5] = float(Lr_fix.iloc[i,6])


# pd.DataFrame(Lr_fix_final)

In [184]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [185]:
plt.clf()
sns.boxplot(x="type", y="loss", hue="L.rate", data=Lr_fix_final, showfliers = False)
plt.savefig('D:/testoneblow/parameter compare graph/Lr_fix_pic1.png')

In [186]:
Lr_fix_final2 = pd.DataFrame(np.zeros((360,6)), columns = ['Case', 'L.rate', 'Nr-HL1','Nr-HL2','type','loss'])
for i in range (Lr_fix.shape[0]):
    Lr_fix_final2.iloc[2*i,:4]   = Lr_fix.iloc[i,:4]
    Lr_fix_final2.iloc[2*i+1,:4] = Lr_fix.iloc[i,:4]

    
    Lr_fix_final2.iloc[2*i,4]   = "RMSE"
    Lr_fix_final2.iloc[2*i+1,4] = "MAE"

    
    Lr_fix_final2.iloc[2*i,5]   = float(Lr_fix.iloc[i,4])
    Lr_fix_final2.iloc[2*i+1,5] = float(Lr_fix.iloc[i,5])



pd.DataFrame(Lr_fix_final2)

     Case  L.rate  Nr-HL1  Nr-HL2  type      loss
0     1.0   0.001    30.0    10.0  RMSE  0.116134
1     1.0   0.001    30.0    10.0   MAE  0.086316
2     2.0   0.001    30.0    20.0  RMSE  0.335174
3     2.0   0.001    30.0    20.0   MAE  0.317244
4     3.0   0.001    30.0    30.0  RMSE  0.109694
..    ...     ...     ...     ...   ...       ...
355  43.0   0.010    70.0    10.0   MAE  0.255330
356  44.0   0.010    70.0    20.0  RMSE  0.397876
357  44.0   0.010    70.0    20.0   MAE  0.343871
358  45.0   0.010    70.0    30.0  RMSE  0.381385
359  45.0   0.010    70.0    30.0   MAE  0.328337

[360 rows x 6 columns]

In [187]:
plt.clf()
sns.boxplot(x="type", y="loss", hue="L.rate", data=Lr_fix_final2, showfliers = False)
plt.savefig('D:/testoneblow/parameter compare graph/Lr_fix_pic2.png')

In [193]:
Lr_fix_final3 = pd.DataFrame(np.zeros((180,6)), columns = ['Case', 'L.rate', 'Nr-HL1','Nr-HL2','type','loss'])
for i in range (Lr_fix.shape[0]):
    Lr_fix_final3.iloc[i,:4]   = Lr_fix.iloc[i,:4]

    
    Lr_fix_final3.iloc[i,4]   = "MAPE"

    
    Lr_fix_final3.iloc[i,5]   = float(Lr_fix.iloc[i,6])



pd.DataFrame(Lr_fix_final3)

     Case  L.rate  Nr-HL1  Nr-HL2  type       loss
0     1.0   0.001    30.0    10.0  MAPE   8.495884
1     2.0   0.001    30.0    20.0  MAPE  28.454996
2     3.0   0.001    30.0    30.0  MAPE   9.139524
3     4.0   0.001    40.0    10.0  MAPE  11.396811
4     5.0   0.001    40.0    20.0  MAPE   9.491972
..    ...     ...     ...     ...   ...        ...
175  41.0   0.010    60.0    20.0  MAPE  10.608176
176  42.0   0.010    60.0    30.0  MAPE  10.145061
177  43.0   0.010    70.0    10.0  MAPE  22.491705
178  44.0   0.010    70.0    20.0  MAPE  28.696346
179  45.0   0.010    70.0    30.0  MAPE  27.506609

[180 rows x 6 columns]

In [194]:
plt.clf()
sns.boxplot(x="type", y="loss", hue="L.rate", data=Lr_fix_final3, showfliers = False)
plt.savefig('D:/testoneblow/parameter compare graph/Lr_fix_pic3.png')

# Nr-HL1 fix

In [199]:
NrHL30_index = []
NrHL40_index = []
NrHL50_index = []
NrHL60_index = []
NrHL70_index = []

for i in range (Tr_result_epoch2000.shape[0]):
    if Tr_result_epoch2000.iloc[i,2] == 30:
        NrHL30_index = np.append(NrHL30_index, i)
    elif Tr_result_epoch2000.iloc[i,2] == 40:
        NrHL40_index = np.append(NrHL40_index, i)
    elif Tr_result_epoch2000.iloc[i,2] == 50:
        NrHL50_index = np.append(NrHL50_index, i)
    elif Tr_result_epoch2000.iloc[i,2] == 60:
        NrHL60_index = np.append(NrHL60_index, i)
    elif Tr_result_epoch2000.iloc[i,2] == 70:
        NrHL70_index = np.append(NrHL70_index, i)

(9,)

In [207]:
NrHL30_dataset = np.zeros((NrHL30_index.shape[0]*4,7))
for i in range(len(NrHL30_index)):
    NrHL30_dataset[i,:]     = Tr_result_epoch2000.iloc[int(NrHL30_index[i]),:]
    NrHL30_dataset[i+9,:]  = Tr_result_epoch5000.iloc[int(NrHL30_index[i]),:]
    NrHL30_dataset[i+18,:]  = Tr_result_epoch10000.iloc[int(NrHL30_index[i]),:]
    NrHL30_dataset[i+27,:]  = Tr_result_epoch20000.iloc[int(NrHL30_index[i]),:]

NrHL30_dataset = pd.DataFrame(np.concatenate((header,NrHL30_dataset)))
NrHL30_dataset = NrHL30_dataset.rename(columns=NrHL30_dataset.iloc[0])
NrHL30_dataset = NrHL30_dataset.iloc[1:,:]
# pd.DataFrame(NrHL30_dataset)

In [208]:
NrHL40_dataset = np.zeros((NrHL40_index.shape[0]*4,7))
for i in range(len(NrHL40_index)):
    NrHL40_dataset[i,:]     = Tr_result_epoch2000.iloc[int(NrHL40_index[i]),:]
    NrHL40_dataset[i+9,:]  = Tr_result_epoch5000.iloc[int(NrHL40_index[i]),:]
    NrHL40_dataset[i+18,:]  = Tr_result_epoch10000.iloc[int(NrHL40_index[i]),:]
    NrHL40_dataset[i+27,:]  = Tr_result_epoch20000.iloc[int(NrHL40_index[i]),:]

NrHL40_dataset = pd.DataFrame(np.concatenate((header,NrHL40_dataset)))
NrHL40_dataset = NrHL40_dataset.rename(columns=NrHL40_dataset.iloc[0])
NrHL40_dataset = NrHL40_dataset.iloc[1:,:]
# pd.DataFrame(NrHL40_dataset)

In [209]:
NrHL50_dataset = np.zeros((NrHL50_index.shape[0]*4,7))
for i in range(len(NrHL50_index)):
    NrHL50_dataset[i,:]     = Tr_result_epoch2000.iloc[int(NrHL50_index[i]),:]
    NrHL50_dataset[i+9,:]  = Tr_result_epoch5000.iloc[int(NrHL50_index[i]),:]
    NrHL50_dataset[i+18,:]  = Tr_result_epoch10000.iloc[int(NrHL50_index[i]),:]
    NrHL50_dataset[i+27,:]  = Tr_result_epoch20000.iloc[int(NrHL50_index[i]),:]

NrHL50_dataset = pd.DataFrame(np.concatenate((header,NrHL50_dataset)))
NrHL50_dataset = NrHL50_dataset.rename(columns=NrHL50_dataset.iloc[0])
NrHL50_dataset = NrHL50_dataset.iloc[1:,:]
# pd.DataFrame(NrHL50_dataset)

In [210]:
NrHL60_dataset = np.zeros((NrHL60_index.shape[0]*4,7))
for i in range(len(NrHL60_index)):
    NrHL60_dataset[i,:]     = Tr_result_epoch2000.iloc[int(NrHL60_index[i]),:]
    NrHL60_dataset[i+9,:]  = Tr_result_epoch5000.iloc[int(NrHL60_index[i]),:]
    NrHL60_dataset[i+18,:]  = Tr_result_epoch10000.iloc[int(NrHL60_index[i]),:]
    NrHL60_dataset[i+27,:]  = Tr_result_epoch20000.iloc[int(NrHL60_index[i]),:]

NrHL60_dataset = pd.DataFrame(np.concatenate((header,NrHL60_dataset)))
NrHL60_dataset = NrHL60_dataset.rename(columns=NrHL60_dataset.iloc[0])
NrHL60_dataset = NrHL60_dataset.iloc[1:,:]
# pd.DataFrame(NrHL60_dataset)

In [211]:
NrHL70_dataset = np.zeros((NrHL70_index.shape[0]*4,7))
for i in range(len(NrHL70_index)):
    NrHL70_dataset[i,:]     = Tr_result_epoch2000.iloc[int(NrHL70_index[i]),:]
    NrHL70_dataset[i+9,:]  = Tr_result_epoch5000.iloc[int(NrHL70_index[i]),:]
    NrHL70_dataset[i+18,:]  = Tr_result_epoch10000.iloc[int(NrHL70_index[i]),:]
    NrHL70_dataset[i+27,:]  = Tr_result_epoch20000.iloc[int(NrHL70_index[i]),:]

NrHL70_dataset = pd.DataFrame(np.concatenate((header,NrHL70_dataset)))
NrHL70_dataset = NrHL70_dataset.rename(columns=NrHL70_dataset.iloc[0])
NrHL70_dataset = NrHL70_dataset.iloc[1:,:]
# pd.DataFrame(NrHL70_dataset)

In [216]:
NrHL1_fix = np.concatenate((NrHL30_dataset,NrHL40_dataset,NrHL50_dataset,NrHL60_dataset,NrHL70_dataset),axis =0)
header = np.array([["Case", "L.rate", "Nr-HL1", "Nr-HL2", "RMSE","MAE","MAPE"]])
NrHL1_fix = pd.DataFrame(np.concatenate((header,NrHL1_fix)))
NrHL1_fix = NrHL1_fix.rename(columns=NrHL1_fix.iloc[0])
NrHL1_fix = NrHL1_fix.iloc[1:,:]
# NrHL1_fix

,Case,L.rate,Nr-HL1,Nr-HL2,RMSE,MAE,MAPE
1,1.0,0.001,30.0,10.0,0.1161344460784031,0.0863161534070968,8.49588394165039
2,2.0,0.001,30.0,20.0,0.3351740478911825,0.3172442615032196,28.45499610900879
3,3.0,0.001,30.0,30.0,0.1096944826164121,0.0908450856804847,9.13952350616455
4,16.0,0.005,30.0,10.0,0.1495076677906041,0.1242875754833221,12.63471508026123
5,17.0,0.005,30.0,20.0,0.2475282548902127,0.2083233296871185,22.178133010864254
...,...,...,...,...,...,...,...
176,29.0,0.005,70.0,20.0,0.0775838527985151,0.0611129663884639,5.812865734100342
177,30.0,0.005,70.0,30.0,0.0660437267352702,0.0486831776797771,4.76395845413208
178,43.0,0.01,70.0,10.0,0.3001315667817437,0.2553300857543945,22.4917049407959
179,44.0,0.01,70.0,20.0,0.3978761383541312,0.3438709378242492,28.696346282958984
180,45.0,0.01,70.0,30.0,0.3813853813003763,0.3283367753028869,27.50660896301269

In [218]:
NrHL1_fix_final = pd.DataFrame(np.zeros((540,6)), columns = ['Case', 'L.rate', 'Nr-HL1','Nr-HL2','type','loss'])
for i in range (NrHL1_fix.shape[0]):
    NrHL1_fix_final.iloc[3*i,:4]   = NrHL1_fix.iloc[i,:4]
    NrHL1_fix_final.iloc[3*i+1,:4] = NrHL1_fix.iloc[i,:4]
    NrHL1_fix_final.iloc[3*i+2,:4] = NrHL1_fix.iloc[i,:4]
    
    NrHL1_fix_final.iloc[3*i,4]   = "RMSE"
    NrHL1_fix_final.iloc[3*i+1,4] = "MAE"
    NrHL1_fix_final.iloc[3*i+2,4] = "MAPE"
    
    NrHL1_fix_final.iloc[3*i,5]   = float(NrHL1_fix.iloc[i,4])
    NrHL1_fix_final.iloc[3*i+1,5] = float(NrHL1_fix.iloc[i,5])
    NrHL1_fix_final.iloc[3*i+2,5] = float(NrHL1_fix.iloc[i,6])
# NrHL1_fix_final

     Case L.rate Nr-HL1 Nr-HL2  type       loss
0     1.0  0.001   30.0   10.0  RMSE   0.116134
1     1.0  0.001   30.0   10.0   MAE   0.086316
2     1.0  0.001   30.0   10.0  MAPE   8.495884
3     2.0  0.001   30.0   20.0  RMSE   0.335174
4     2.0  0.001   30.0   20.0   MAE   0.317244
..    ...    ...    ...    ...   ...        ...
535  44.0   0.01   70.0   20.0   MAE   0.343871
536  44.0   0.01   70.0   20.0  MAPE  28.696346
537  45.0   0.01   70.0   30.0  RMSE   0.381385
538  45.0   0.01   70.0   30.0   MAE   0.328337
539  45.0   0.01   70.0   30.0  MAPE  27.506609

[540 rows x 6 columns]

In [220]:
plt.clf()
sns.boxplot(x="type", y="loss", hue="Nr-HL1", data=NrHL1_fix_final, showfliers = False)
plt.savefig('D:/testoneblow/parameter compare graph/NrHL1_fix_pic1.png')

In [221]:
NrHL1_fix_final2 = pd.DataFrame(np.zeros((360,6)), columns = ['Case', 'L.rate', 'Nr-HL1','Nr-HL2','type','loss'])
for i in range (NrHL1_fix.shape[0]):
    NrHL1_fix_final2.iloc[2*i,:4]   = NrHL1_fix.iloc[i,:4]
    NrHL1_fix_final2.iloc[2*i+1,:4] = NrHL1_fix.iloc[i,:4]

    
    NrHL1_fix_final2.iloc[2*i,4]   = "RMSE"
    NrHL1_fix_final2.iloc[2*i+1,4] = "MAE"

    
    NrHL1_fix_final2.iloc[2*i,5]   = float(NrHL1_fix.iloc[i,4])
    NrHL1_fix_final2.iloc[2*i+1,5] = float(NrHL1_fix.iloc[i,5])



pd.DataFrame(NrHL1_fix_final2)

     Case L.rate Nr-HL1 Nr-HL2  type      loss
0     1.0  0.001   30.0   10.0  RMSE  0.116134
1     1.0  0.001   30.0   10.0   MAE  0.086316
2     2.0  0.001   30.0   20.0  RMSE  0.335174
3     2.0  0.001   30.0   20.0   MAE  0.317244
4     3.0  0.001   30.0   30.0  RMSE  0.109694
..    ...    ...    ...    ...   ...       ...
355  43.0   0.01   70.0   10.0   MAE  0.255330
356  44.0   0.01   70.0   20.0  RMSE  0.397876
357  44.0   0.01   70.0   20.0   MAE  0.343871
358  45.0   0.01   70.0   30.0  RMSE  0.381385
359  45.0   0.01   70.0   30.0   MAE  0.328337

[360 rows x 6 columns]

In [222]:
plt.clf()
sns.boxplot(x="type", y="loss", hue="Nr-HL1", data=NrHL1_fix_final2, showfliers = False)
plt.savefig('D:/testoneblow/parameter compare graph/NrHL1_fix_pic2.png')

In [223]:
NrHL1_fix_final3 = pd.DataFrame(np.zeros((180,6)), columns = ['Case', 'L.rate', 'Nr-HL1','Nr-HL2','type','loss'])
for i in range (NrHL1_fix.shape[0]):
    NrHL1_fix_final3.iloc[i,:4]   = NrHL1_fix.iloc[i,:4]

    
    NrHL1_fix_final3.iloc[i,4]   = "MAPE"

    
    NrHL1_fix_final3.iloc[i,5]   = float(NrHL1_fix.iloc[i,6])



pd.DataFrame(NrHL1_fix_final3)

     Case L.rate Nr-HL1 Nr-HL2  type       loss
0     1.0  0.001   30.0   10.0  MAPE   8.495884
1     2.0  0.001   30.0   20.0  MAPE  28.454996
2     3.0  0.001   30.0   30.0  MAPE   9.139524
3    16.0  0.005   30.0   10.0  MAPE  12.634715
4    17.0  0.005   30.0   20.0  MAPE  22.178133
..    ...    ...    ...    ...   ...        ...
175  29.0  0.005   70.0   20.0  MAPE   5.812866
176  30.0  0.005   70.0   30.0  MAPE   4.763958
177  43.0   0.01   70.0   10.0  MAPE  22.491705
178  44.0   0.01   70.0   20.0  MAPE  28.696346
179  45.0   0.01   70.0   30.0  MAPE  27.506609

[180 rows x 6 columns]

In [224]:
plt.clf()
sns.boxplot(x="type", y="loss", hue="Nr-HL1", data=NrHL1_fix_final3, showfliers = False)
plt.savefig('D:/testoneblow/parameter compare graph/NrHL1_fix_pic3.png')

# Nr-HL2 fix

In [225]:
NrHL2_10_index = []
NrHL2_20_index = []
NrHL2_30_index  = []

for i in range (Tr_result_epoch2000.shape[0]):
    if Tr_result_epoch2000.iloc[i,3] == 10:
        NrHL2_10_index = np.append(NrHL2_10_index, i)
    elif Tr_result_epoch2000.iloc[i,3] == 20:
        NrHL2_20_index = np.append(NrHL2_20_index, i)
    elif Tr_result_epoch2000.iloc[i,3] == 30:
        NrHL2_30_index = np.append(NrHL2_30_index, i)

In [227]:
NrHL2_10_dataset = np.zeros((60,7))
for i in range(len(NrHL2_10_index)):
    NrHL2_10_dataset[i,:]     = Tr_result_epoch2000.iloc[int(NrHL2_10_index[i]),:]
    NrHL2_10_dataset[i+15,:]  = Tr_result_epoch5000.iloc[int(NrHL2_10_index[i]),:]
    NrHL2_10_dataset[i+30,:]  = Tr_result_epoch10000.iloc[int(NrHL2_10_index[i]),:]
    NrHL2_10_dataset[i+45,:]  = Tr_result_epoch20000.iloc[int(NrHL2_10_index[i]),:]

NrHL2_10_dataset = pd.DataFrame(np.concatenate((header,NrHL2_10_dataset)))
NrHL2_10_dataset = NrHL2_10_dataset.rename(columns=NrHL2_10_dataset.iloc[0])
NrHL2_10_dataset = NrHL2_10_dataset.iloc[1:,:]
# pd.DataFrame(NrHL2_10_dataset)

In [228]:
NrHL2_20_dataset = np.zeros((60,7))
for i in range(len(NrHL2_20_index)):
    NrHL2_20_dataset[i,:]     = Tr_result_epoch2000.iloc[int(NrHL2_20_index[i]),:]
    NrHL2_20_dataset[i+15,:]  = Tr_result_epoch5000.iloc[int(NrHL2_20_index[i]),:]
    NrHL2_20_dataset[i+30,:]  = Tr_result_epoch10000.iloc[int(NrHL2_20_index[i]),:]
    NrHL2_20_dataset[i+45,:]  = Tr_result_epoch20000.iloc[int(NrHL2_20_index[i]),:]

NrHL2_20_dataset = pd.DataFrame(np.concatenate((header,NrHL2_20_dataset)))
NrHL2_20_dataset = NrHL2_20_dataset.rename(columns=NrHL2_20_dataset.iloc[0])
NrHL2_20_dataset = NrHL2_20_dataset.iloc[1:,:]

In [229]:
NrHL2_30_dataset = np.zeros((60,7))
for i in range(len(NrHL2_30_index)):
    NrHL2_30_dataset[i,:]     = Tr_result_epoch2000.iloc[int(NrHL2_30_index[i]),:]
    NrHL2_30_dataset[i+15,:]  = Tr_result_epoch5000.iloc[int(NrHL2_30_index[i]),:]
    NrHL2_30_dataset[i+30,:]  = Tr_result_epoch10000.iloc[int(NrHL2_30_index[i]),:]
    NrHL2_30_dataset[i+45,:]  = Tr_result_epoch20000.iloc[int(NrHL2_30_index[i]),:]

NrHL2_30_dataset = pd.DataFrame(np.concatenate((header,NrHL2_30_dataset)))
NrHL2_30_dataset = NrHL2_30_dataset.rename(columns=NrHL2_30_dataset.iloc[0])
NrHL2_30_dataset = NrHL2_30_dataset.iloc[1:,:]

In [232]:
NrHL2_fix = np.concatenate((Lr001_dataset,Lr005_dataset,Lr01_dataset),axis =0)
header = np.array([["Case", "L.rate", "Nr-HL1", "Nr-HL2", "RMSE","MAE","MAPE"]])
NrHL2_fix = pd.DataFrame(np.concatenate((header,NrHL2_fix)))
NrHL2_fix = NrHL2_fix.rename(columns=NrHL2_fix.iloc[0])
NrHL2_fix = NrHL2_fix.iloc[1:,:]
# NrHL2_fix

In [233]:
NrHL2_fix_final = pd.DataFrame(np.zeros((540,6)), columns = ['Case', 'L.rate', 'Nr-HL1','Nr-HL2','type','loss'])
for i in range (NrHL2_fix.shape[0]):
    NrHL2_fix_final.iloc[3*i,:4]   = NrHL2_fix.iloc[i,:4]
    NrHL2_fix_final.iloc[3*i+1,:4] = NrHL2_fix.iloc[i,:4]
    NrHL2_fix_final.iloc[3*i+2,:4] = NrHL2_fix.iloc[i,:4]
    
    NrHL2_fix_final.iloc[3*i,4]   = "RMSE"
    NrHL2_fix_final.iloc[3*i+1,4] = "MAE"
    NrHL2_fix_final.iloc[3*i+2,4] = "MAPE"
    
    NrHL2_fix_final.iloc[3*i,5]   = float(NrHL2_fix.iloc[i,4])
    NrHL2_fix_final.iloc[3*i+1,5] = float(NrHL2_fix.iloc[i,5])
    NrHL2_fix_final.iloc[3*i+2,5] = float(NrHL2_fix.iloc[i,6])


# pd.DataFrame(NrHL2_fix_final)

     Case  L.rate  Nr-HL1  Nr-HL2  type       loss
0     1.0   0.001    30.0    10.0  RMSE   0.116134
1     1.0   0.001    30.0    10.0   MAE   0.086316
2     1.0   0.001    30.0    10.0  MAPE   8.495884
3     2.0   0.001    30.0    20.0  RMSE   0.335174
4     2.0   0.001    30.0    20.0   MAE   0.317244
..    ...     ...     ...     ...   ...        ...
535  44.0   0.010    70.0    20.0   MAE   0.343871
536  44.0   0.010    70.0    20.0  MAPE  28.696346
537  45.0   0.010    70.0    30.0  RMSE   0.381385
538  45.0   0.010    70.0    30.0   MAE   0.328337
539  45.0   0.010    70.0    30.0  MAPE  27.506609

[540 rows x 6 columns]

In [234]:
plt.clf()
sns.boxplot(x="type", y="loss", hue="L.rate", data=NrHL2_fix_final, showfliers = False)
plt.savefig('D:/testoneblow/parameter compare graph/NrHL2_fix_pic1.png')

In [238]:
NrHL2_fix_final[NrHL2_fix_final['type'] == 'RMSE']

     Case  L.rate  Nr-HL1  Nr-HL2  type      loss
0     1.0   0.001    30.0    10.0  RMSE  0.116134
3     2.0   0.001    30.0    20.0  RMSE  0.335174
6     3.0   0.001    30.0    30.0  RMSE  0.109694
9     4.0   0.001    40.0    10.0  RMSE  0.161640
12    5.0   0.001    40.0    20.0  RMSE  0.123967
..    ...     ...     ...     ...   ...       ...
525  41.0   0.010    60.0    20.0  RMSE  0.123467
528  42.0   0.010    60.0    30.0  RMSE  0.122527
531  43.0   0.010    70.0    10.0  RMSE  0.300132
534  44.0   0.010    70.0    20.0  RMSE  0.397876
537  45.0   0.010    70.0    30.0  RMSE  0.381385

[180 rows x 6 columns]

In [245]:
fig = plt.figure(figsize=(16,4))

plt.subplot(1,3,1)
sns.boxplot(x="type", y="loss", hue="Nr-HL2", data=NrHL2_fix_final[NrHL2_fix_final['type']=='RMSE'], showfliers = False)

plt.subplot(1,3,2)
sns.boxplot(x="type", y="loss", hue="Nr-HL2", data=NrHL2_fix_final[NrHL2_fix_final['type']=='MAE'], showfliers = False)

plt.subplot(1,3,3)
sns.boxplot(x="type", y="loss", hue="Nr-HL2", data=NrHL2_fix_final[NrHL2_fix_final['type']=='MAPE'], showfliers = False)

plt.tight_layout()
plt.show()